server:
  port: 8818

spring:
  profiles:
    active: '@activatedProperties@'
  datasource:
    url: jdbc:h2:mem:db
    username: sa
    password:
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        hbm2ddl:
          auto: create
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true

springdoc:
  swagger-ui:
    path: /